

<beans>
<!--    可替换为 dev.rennen.jdbc.core.datasource.SingleConnectionDataSource（移除 maxTotal）-->
    <bean id="dataSource" class="dev.rennen.jdbc.core.datasource.PooledDataSource">
        <constructor-arg type="String" name="driverClassName" value="org.h2.Driver"/>
        <constructor-arg type="String" name="url" value="jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;"/>
        <constructor-arg type="String" name="username" value="sa"/>
        <constructor-arg type="String" name="password" value=""/>
        <constructor-arg type="int" name="maxTotal" value="50"/>
    </bean>
    <bean id="jdbcTemplate" class="dev.rennen.jdbc.core.JdbcTemplate" >
        <property type="javax.sql.DataSource" name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="userService" class="dev.rennen.jdbc.test.service.UserService" />
    <bean id = "autowiredAnnotationBeanPostProcessor" class = "dev.rennen.beans.factory.process.impl.AutowiredAnnotationBeanPostProcessor"/>
    <bean id="sqlSessionFactory" class="dev.rennen.jdbc.core.batis.DefaultSqlSessionFactory" init-method="init">
        <constructor-arg type="String" name="mapperLocations" value="mapper"/>
    </bean>
</beans>
